/* UPM Institutional Branding & Light Blue Theme Accentuation */
.wy-side-nav-search {
    background: #004B87 !important; /* Official UPM Dark Blue Badge */
}
.wy-nav-top {
    background: #004B87 !important;
}
.wy-menu-vertical li.current {
    background: #E8F4FC !important; /* Light-Blue background selection highlight */
}
.wy-menu-vertical li.current a {
    color: #004B87 !important;
    font-weight: bold;
}
.wy-side-nav-search input[type=text] {
    border-color: #0072CE !important;
}
h1, h2, h3, h4 {
    color: #004B87 !important;
}
.rst-content table.docutils {
    width: 100% !important;
}
